<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" >

        <title>spirit animal</title>
    </head>
    <body>
        <h1>What is yout spirit!</h1>
        
        <form method="POST" action="spiritanimal.html">
            Do you value your pride?<br>
    <input type="radio" name="pride1" value="Yes" checked> Yes<br>
  <input type="radio" name="pride1" value="No"> No<br>
  <input type="radio" name="pride1" value="IDK"> IDK<br><br>
            
            Do you take your problems head on?<br>
    <input type="radio" name="problems2" value="Yes" checked> Yes<br>
  <input type="radio" name="problems2" value="No"> No<br>
  <input type="radio" name="problems2" value="IDK"> IDK<br><br>
           
            Do you work good with others? <br>
  <input type="radio" name="good3" value="Yes" checked> Yes<br>
  <input type="radio" name="good3" value="No"> No<br>
  <input type="radio" name="good3" value="IDK"> IDK<br><br>
  
   Do you care for others? <br>
  <input type="radio" name="care5" value="Yes" checked> Yes<br>
  <input type="radio" name="care5" value="No"> No<br>
  <input type="radio" name="care5" value="IDK"> IDK<br><br>
  
  Do depend on others for support? <br>
  <input type="radio" name="support6" value="Yes" checked> Yes<br>
  <input type="radio" name="support6" value="No"> No<br>
  <input type="radio" name="support6" value="IDK"> IDK<br><br>
  
   Are friends or others important to you? <br>
  <input type="radio" name="friends7" value="Yes" checked> Yes<br>
  <input type="radio" name="friends7" value="No"> No<br>
  <input type="radio" name="friends7" value="IDK"> IDK<br><br>
  
   is it easy for you to get scared? <br>
  <input type="radio" name="scared8" value="Yes" checked> Yes<br>
  <input type="radio" name="scared8" value="No"> No<br>
  <input type="radio" name="scared8" value="IDK"> IDK<br><br>
  
   is loyalty to other important to you? <br>
  <input type="radio" name="loyalty4" value="Yes" checked> Yes<br>
  <input type="radio" name="loyalty4" value="No"> No<br>
  <input type="radio" name="loyalty4" value="IDK"> IDK<br><br>
  
  Do you let your emotions get the best of you?<br>
   <input type="radio" name="emotions9" value="Yes" checked> Yes<br>
  <input type="radio" name="emotions9" value="No"> No<br>
  <input type="radio" name="emotions9" value="IDK"> IDK<br><br>
  
  Do you feel happy when you are alone?<br>
   <input type="radio" name="alone10" value="Yes" checked> Yes<br>
  <input type="radio" name="alone10" value="No"> No<br>
  <input type="radio" name="alone10" value="IDK"> IDK<br><br>
      <input type="submit">
      
      
      
        </form>
    </body>
</html>