<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css" >

        <title>spirit animal</title>
    </head>
    <body>
        <h1>What is yout spirit!</h1>
        
        <form method="POST" action="spiritanimal.html">
            Do you value your pride<br>
    <input type="radio" name="pride1" value="Yes" checked> Yes<br>
  <input type="radio" name="pride1" value="No"> No<br>
  <input type="radio" name="pride1" value="IDK"> IDK<br><br>
            
            Do you take your problems head on<br>
    <input type="radio" name="problems2" value="Yes" checked> Yes<br>
  <input type="radio" name="problems2" value="No"> No<br>
  <input type="radio" name="problems2" value="IDK"> IDK<br><br>
           
            Do you work good with others <br>
  <input type="radio" name="Good3" value="Yes" checked> Yes<br>
  <input type="radio" name="Good3" value="No"> No<br>
  <input type="radio" name="Good3" value="IDK"> IDK<br><br>
  
   Do you care for others <br>
  <input type="radio" name="Care5" value="Yes" checked> Yes<br>
  <input type="radio" name="Care5" value="No"> No<br>
  <input type="radio" name="Care5" value="IDK"> IDK<br><br>
  
  Do depend on others for support <br>
  <input type="radio" name="support6" value="Yes" checked> Yes<br>
  <input type="radio" name="support6" value="No"> No<br>
  <input type="radio" name="support6" value="IDK"> IDK<br><br>
  
   Are friends or others important to you <br>
  <input type="radio" name="Friends7" value="Yes" checked> Yes<br>
  <input type="radio" name="Friends7" value="No"> No<br>
  <input type="radio" name="Friends7" value="IDK"> IDK<br><br>
  
   is it easy for you to get scared <br>
  <input type="radio" name="scared8" value="Yes" checked> Yes<br>
  <input type="radio" name="scared8" value="No"> No<br>
  <input type="radio" name="scared8" value="IDK"> IDK<br><br>
  
   is loyalty to other important to you <br>
  <input type="radio" name="Loyalty4" value="Yes" checked> Yes<br>
  <input type="radio" name="Loyalty4" value="No"> No<br>
  <input type="radio" name="Loyalty4" value="IDK"> IDK<br><br>
      <input type="submit">
      
        </form>
    </body>
</html>